/*
COLOR PALETTE

grey-green : #2a9d8f
dark-blue : #023e8a
orange : #f77f00
skye :  #a8dadc
yellow : #ffe66d
*/

/* Global Styling
------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}

a {
  color: #f77f00;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: normal;
  margin: 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #0a131de1;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
/* Profile
------------------------*/
header {
  background: #2f3061;
  color: #f7fff7;
  text-align: center;
}

/* Projects
------------------------*/
.projects {
  background: #f7fff7;
}
.projects a {
  color: #0075f2;
}
.projects .btn {
  color: #f7fff7;
  background: #023e8a;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 90%);
}
.project-item h3 {
  margin: 0;
}
.project-item {
  overflow: hidden;
}

/* Work Experience
------------------------*/
.work-experience {
  background: #0075f2;
}

/* Education
------------------------*/
.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-position: 19% 22.25%;
  background-size: cover;
  padding: 100px;
}
/* Contact Info
------------------------*/
footer {
  background: #343434;
  color: #f7fff7;
}
footer h2 {
  text-align: center;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contact-list a {
  font-size: 0.8em;
  padding: 0.5em;
  margin: auto;
  display: inline-block;
}

/* Responsive
--------------------------*/
@media screen and (min-width: 835px) {
  .project-item img {
    float: left;
    margin-right: 20px;
  }
}

@media screen and (min-width: 640px) {
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list a {
    font-size: 0.9em;
    padding: 15px;
  }
}
